@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1726412797420') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongzuo:before {
  content: "\e6f3";
}

.icon-daochu:before {
  content: "\eabf";
}

.icon-daoru:before {
  content: "\eac0";
}

.icon-chexiao:before {
  content: "\eaf0";
}

